* {
    margin: 0;
    padding: 0;
}

$primary-font: 'Playfair', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$teritiary-font: 'Poppins', sans-serif;

$alpha: rgb(255, 255, 255);
$beta: rgb(205, 164, 94);
$neutral: rgb(204, 206, 206);
$s-neutral: rgb(95, 93, 91);
$bg: rgb(12, 11, 9);
$s-bg: rgb(25, 24, 21);
